*{
  padding: 0;
  margin: 0;
}

.Main-div{
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.Profile{
  background-image: url('./assets/Profilepic.jpg');
  background-repeat: no-repeat;
  background-size: 130% 130%;
  height: 8rem;
  width: 10rem;
  border-radius: 50px;
  box-shadow: 0 0 30px white;

}

.Spacer{
  width: 150px;
}

.Spacer1{
  width: 20px;
}

.Aboutme{
  display: flex;
  justify-content: center;
  width: 50%;
  padding-top: 30px;
}

.Aboutme-description{
  color: rgb(194,255,255);
  text-shadow: 0 0 10px rgb(194,255,255),  0 0 20px rgb(127,0,151);

}

.section{
  padding: 200px;
}

.section-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-description{
  padding: 0% 15%;
  color: rgb(194,255,255);
  margin-top: 20px;
  text-shadow: 0 0 10px rgb(194,255,255),  0 0 20px rgb(127,0,151);
}

.features{
  color: rgb(194,255,255);
  font-size: 3rem;
  text-align: center;
}

.links{
  color: rgb(194,255,255);
  font-size: 2rem;
  margin-right: 1rem;
}

.section-list{
  font-size: 1.5rem;
  max-width: 60%;
}

.video{
  box-shadow: 0 0 10px  rgb(195,255,255), 0 0 20px rgb(93,1,107);
}

.section-text{
  color: rgb(194,255,255);
  margin-bottom: 20px;
  text-shadow: 0 0 10px rgb(194,255,255),  0 0 20px rgb(127,0,151);
}



@font-face {
  font-family: 'Mr. Dafoe';
  src: url('/src/assets/GreatVibes-Regular.ttf') format('truetype');
  font-weight: 10000px;
  font-style: normal;
}

.Vibes {
  font-family: 'Mr. Dafoe', sans-serif;
  display: flex;
}

@font-face {
  font-family: 'lobster';
  src: url('/src/assets/LobsterTwo-Italic.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

.lobster {
  font-family: 'lobster', sans-serif;
}

#email{
  height: 1.5rem;
  width: 15rem;
  margin-bottom: 30px;
  background: transparent;
  background-image: radial-gradient(rgb(194,255,255), transparent);
  background-position: center;
  transform: scale(1);
  background-size: 100% 100%;
}

#email.zoom {
  transition: background-size 0.5s ease-in-out;
  background-size: 200% 200%;
}

#message{
  height: 10rem;
  width: 25rem;
  background: transparent;
  background-image: radial-gradient(rgb(217,253,251), transparent);
  background-position: center;
  transform: scale(1);
  background-size: 100% 100%;
}

#message.zoom {
  transition: background-size 2s ease-in-out;
  background-size: 400% 400%;
}

.submit {
  margin-top: 30px;
  color: rgb(197,246,252);
  background-color: rgb(123,18,143);
  height: 35px;
  width: 75px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0 10px rgb(60,7,68), 0 0 20px rgb(122,11,145), 0 0 30px rgb(222,201,250);
}

@media screen and (max-width: 1281px) {

  .section-description{
    padding: 0%;
  }

  .links{
    margin-left: 0rem;
  }

  .Aboutme-intro{
    min-width: 100%;
    text-align: center;
  }

  .Aboutme-description{
    margin-right: -50%;
  }

  .Profile{
    margin-left: -50%;
  }

}

.glow{
  font-size: 5rem;
  color: rgb(194,255,255);
  text-align: center;
  text-shadow: 0 0 10px rgb(194,255,255), 0 0 70px rgb(127,0,151);

}

@media screen and (max-width: 541px) {
  
  .Vibes{
    display:inherit
  }

  .section{
    padding: 10%;
  }

  .section-text{
    text-align: center;
  }

}